<div id="myModalBuy" class="modal-buy">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Syper pyper Ice Cream</h2>
    </div>
    <div class="modal-body">
      <div>
        <img class="modal-body__img" src="../src/images/product1-320.png" alt="" />
        <input
          class="modal-body__input"
          placeholder="how many?"
          type="input"
          id="scales"
          name="scales"
        />
        <label for="scales"> </label>
      </div>
      <div>
        <img class="modal-body__img" src="../src/images/product2-320.png" alt="" />
        <input
          class="modal-body__input"
          placeholder="how many?"
          type="input"
          id="horns"
          name="horns"
        />
        <label for="horns"> </label>
      </div>
      <div>
        <img class="modal-body__img" src="../src/images/product3-320.png" alt="" />
        <input
          class="modal-body__input"
          placeholder="how many?"
          type="input"
          id="horns"
          name="horns"
        />
        <label for="horns"> </label>
      </div>
    </div>
    <div class="modal-footer">
      <form class="modal-footer__form" name="subscribe" autocomplete="on">
        <label class="modal-footer__label">
          <span class="modal-footer__name">Name</span>
          <input class="modal-footer__date" type="text" name="username" />
        </label>
        <label class="modal-footer__label">
          <span class="modal-footer__name">Phone</span>
          <input class="modal-footer__date" type="tel" name="phone_number" />
        </label>
        <label class="modal-footer__label">
          <span class="modal-footer__name">Mail</span>
          <input class="modal-footer__date" type="email" name="email" />
        </label>
        <label class="modal-footer__label">
          <span class="modal-footer__name"></span>
          <textarea
            class="modal-footer__date modal__date--comment"
            name="feedback"
            rows="5"
            placeholder="write something and maybe we read this"
          ></textarea>
        </label>
        <a
          title="do it!!!"
          class="modal-footer__btn"><span class="modal-footer__link"> I want that!</span>
        </a>
        <!-- <button title="do it!!!" class="modal-footer__btn" data-reveal-id="myModalEgg">
          <span class="modal-footer__link">I want that!</span>
        </button> -->
      </form>
    </div>
  </div>
</div>
